* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dis-page-bg: #191d7b;
    --dis-page-btn: #5865f2;
    --dis-page-cards-bg: #5d64d1;
}

body {
    max-width: 512px;
    margin: 0 auto;
    background-color: var(--dis-page-bg);
}

video {
    max-width: 100%;
    border-radius: 2rem;
}


#site_main {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.banner {
    width: 512px;
}

.title {
    font-family: "Sigmar", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 4rem 5rem 0;
    line-height: 2rem;
}

.paragraph {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    padding: 0 5rem ;
    margin-top: 1rem;
}

.buttons {
    text-align: center;
}

.download {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    background-color: white;
    margin: 1rem 0;
    padding: 16px;
    border-radius: 16px;
    border: none;
    width: 21rem;
}


.open_discord {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    color: white;
    background-color: var(--dis-page-btn);
    padding: 16px;
    border-radius: 16px;
    border: none;
    width: 21rem;
}

.cards {
    background: linear-gradient(#31338b, #5561ea);
    margin: 2rem 1.5rem 3rem;
    border-radius: 2rem;
    position: relative;
    padding: 2.5rem 2rem; 
}

.cube {
    position: absolute;
    width: 6rem;
    left: 2rem;
    top: -50px;
}

.eyes {
    position: absolute;
    width: 6rem;
    left: 2rem;
    top: -50px;
}

.cards-title {
    font-family: "Sigmar", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2rem;
    padding: 1.5rem 0 1rem 1rem;
    line-height: 2rem;
}

.cards_text {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: white;
    padding: 0 1rem 1rem 1rem;
}

/* .img_card {
    padding: 0 1.5rem 3rem;
}

.img_card img{
    width: 100%;
    border-radius: 25px;
} */